# Встановлені залежності/бібліотеки
node_modules/
venv/
*.pyc
*.pyo

# Створені виконувані файли
*.exe
*.dll
*.so
*.dylib

# Згенеровані файли збірки/компіляції
dist/
build/
*.egg
*.egg-info/
*.pyc
*.pyo
*.pyd

# Конфігураційні файли
*.env
*.ini
*.conf

# Файли з виключеними налаштуваннями/секретами
*.secret
*.key

# Лог-файли
*.log

# Кеш-файли та директорії
*.cache/
.cache/
*.pyc
*.pyo
__pycache__/

# Інші тимчасові файли та директорії
*.tmp/
*.swp
*.swo
*.bak
*.~ 
